*{
    margin: 0;
    padding: 0;
}
body{
    
    /* background:url("https://s1.ax1x.com/2018/03/31/9xT4u8.md.jpg"); */
    background: #aaa;
}
#app{
    background: rgba(255,255,255,0.8);
    min-height: 100vh;
    min-width: 1024px;
    position: relative;
}
#app #memoEditor{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7)
}
#app #editorWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app #editorWrapper .wangEditor{
    background: #f1f1f1;
    width: 300px;
    word-wrap: break-word;
    }
#app #editorWrapper .buttonWrapper{
    display: flex;
    align-items: stretch;
    width: 100%;
}
#app #editorWrapper button{
    background: #f1f1f1;
    cursor: pointer;
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px;
    font-size: 18px;
    width: 50%;
}