#memoPreview{
    background: rgba(255,255,255,0.8);
    padding: 5.5rem 0 2rem 0;
    width: 100%;
}
#memoPreview .memoList{
    display: grid;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    grid-template-areas: "a a a a";
    grid-column-gap: 4%;
    grid-auto-columns: 22%;
    grid-row-gap: 2rem;
    
}
/* #memoPreview .memoList::-webkit-scrollbar{
    display: none;
} */
#memoPreview .memoList li{
    height: 17rem;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    background: rgba(230, 230, 230, 0.836);
    justify-self: stretch;
}
#memoPreview .memoList li::-webkit-scrollbar{
    display: none;
}
#memoPreview .memoList li:hover{
    box-shadow: 5px 5px 3px #ccc;
}
#memoPreview .memoList li>.memoWrapper{
    height: 90%;
    padding: 1rem;
    overflow: auto;
}
#memoPreview .memoList li>.memoWrapper>span{
    width: 100%;
    word-wrap: break-word;
}
#memoPreview .memoList li>.toolbar{
    height: 10%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    background: rgba(76, 181,170, 1);
}
#memoPreview .memoList li .toolbar button{
    background: rgb(76, 181,170);
    border: 0;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
#memoPreview .memoList .addButton{
    align-items: center;
    justify-content: center;
    border: 1px;

}
#memoPreview .addButton .wrapper{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgb(76, 181,170);
    color: white;
    text-align: center;
    line-height: 4rem;
}
#memoPreview .addButton .wrapper>span{
    font-size: 3rem;
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}