<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy Memo</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/topbar.css">
    <link rel="stylesheet" href="./css/preview.css">
    <link rel="stylesheet" href="./css/loginStyle.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_589988_tbv8kydkzt6e0zfr.css">
</head>
<body >
    <div id="app">
        <section id="topbar">
            <div class="wrapper">
                <span class="logo">{{logo}}</span>
                <div class="menu" v-if="!currentUser">
                    <button @click="actionType = 'signUp',visible = 'true' ">注册</button>
                    <button @click="actionType = 'login',visible = 'true' ">登陆</button>
                </div>
                <div  v-if="currentUser">
                    <span class="welcome" >{{currentUser.username}},您好!</span>
                    <button @click="logOut">注销</button>
                </div>
            </div>
        </section>
        <section id="account" v-show="visible">
            <div class="signUp dialog" v-if="actionType=='signUp'">
                <form v-on:submit.prevent="signUp">
                    <div class="formRow input">
                        用户名</br><input type="text" v-model="formData.username">
                    </div>
                    <div class="formRow input">
                        密码</br><input type="password" v-model="formData.password">
                    </div>
                    <div class="formActions">
                        <button class="button" type="button" @click="close">取消</button>
                        <input class="button" type="submit" value="注册">
                    </div>
                </form>
            </div>
            <div class="login dialog" v-if="actionType=='login'">
                <form v-on:submit.prevent="login">
                    <div class="formRow input">
                        用户名</br><input type="text" v-model="formData.username">
                    </div>
                    <div class="formRow input">
                        密码</br><input type="password" v-model="formData.password">
                        </div>
                    <div class="formActions">
                        <button class="button" type="button" @click="close">取消</button>
                        <input class="button" type="submit" value="登陆">
                    </div>
                </form>
            </div>
        </section>
        <section id="memoPreview">
                <ol class="memoList">
                    <li v-for="memo in memoList">
                        <div class="toolbar">
                            <!-- <button class="iconfont icon-menudown"></button> -->
                            <button title="置顶" @click="setTop(memo)" class="iconfont icon-top"></button>
                            <button title="修改" @click="modify(memo)" class="iconfont icon-editor"></button>
                            <button title="删除" @click="deleteMemo(memo)" class="iconfont icon-delete"></button>
                        </div>
                        <div @mouseenter="showCreatedAt($event)"  class="memoWrapper">
                                <span v-html="memo.content"></span>
                        </div>
                    </li>
                <li class="addButton" @click="showEditor='true'">
                    <div class="wrapper">
                    <span class="icon-zengjia iconfont"></span>
                    </div>
                </li>
            </ol>
        </section>
        <section id="memoEditor" v-show="showEditor">`
            <div id="editorWrapper" >
                    <div class="wangEditor">
                    </div>
                    <div class="buttonWrapper">
                        <button @click=cansel>取消</button>
                        <button @click=saveMemo>确定</button>
                    </div>
            </div>
        </section>

    </div>
    <script src="./dist/bundle.js"></script>
    <script>
        // function setHeight(){
        //     let windowHeight = window.innerHeight
        //     let windowWidth = window.innerWidth
        //     document.getElementById('app').style.width=windowWidth+'px'
        //     document.getElementById('app').style.height=windowHeight+'px'
        //     console.log(windowWidth+'x'+windowHeight)
        // }
        // setHeight();
        // window.onresize = function(){
        //     setHeight();
        // }
    </script>
</body>
</html>